<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Donate Stuff - {% block title %}{% endblock title %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'scss/style.scss' %}" />
  </head>
  <body>
    {% block header %}{% endblock header %}
    {% block container %}{% endblock container %}
    {% block footer %}{% endblock footer %}

    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
