{% extends 'base.html' %}
{% load static %}

{% block title %}
    Zmień hasło
{% endblock title %}

{% block header %}
    <header class="">
        {% include 'partials/navbar.html' %}
    </header>
{% endblock header %}

{% block container %}
    <section class="login-page">
      <h2>Zmień hasło</h2>
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.old_password }}
        </div>
        <div class="form-group">
          {{ form.new_password1 }}
        </div>
        <div class="form-group">
          {{ form.new_password2 }}
        </div>
        <div class="form-group form-group--buttons">
          <a href="{% url 'users:user-profile' %}" class="btn btn--without-border">Anuluj</a>
          <button class="btn" type="submit">Zatwierdź zmiany</button>
        </div>
      </form>
    </section>
{% endblock container %}