{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock title %}

{% block header %}
    <header class="">
        {% include 'partials/navbar.html' %}
    </header>
{% endblock header %}

{% block container %}
    <section id="help" class="help">
      <h2>{{ user.first_name }} {{ user.last_name }}</h2>
      <h1>Kontakt: {{ user.email }}</h1>

      {% for donation in donations %}
          <div class="help">
            <h1>{{ donation }}</h1>
          </div>
      {% empty %}
          <div class="help">
              <h1>You did not donate anything yet.</h1>
          </div>
      {% endfor %}
    </section>
{% endblock container %}

{% block footer %}
    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em>{{ bags_count }}</em>
          <h3>Oddanych worków</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
        </div>

        <div class="stats--item">
          <em>{{ inst_count }}</em>
          <h3>Wspartych organizacji</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
        </div>
      </div>
    </section>
{% endblock footer %}